body {
    background: #333;
    color:#fff;
}

.navbar {
    border-bottom : #c0302b 3px solid;
    opacity:.7;
}

#home-section {
    background: url('img/bg.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.dark-overlay {
    background: rgba(0,0,0,.7);
  
}

.home-inner {
    padding: 150px;
}

@media (max-width:992px){
    .home-inner {
        padding: 100px;
    }
}